# -*- mode: yaml -*-
# BasedOnStyle:  GNU
AlignConsecutiveMacros: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands:   true
AlignTrailingComments: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel:  false
  AfterControlStatement: false
  AfterExternBlock: true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakAfterJavaFieldAnnotations: false
ColumnLimit:     99
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true
DeriveLineEnding: true
IndentWidth:     4
PointerAlignment: Left
SortIncludes:    true
SortUsingDeclarations: true
SpaceBeforeParens: ControlStatements
SpacesInAngles:  false
SpaceBeforeSquareBrackets: false
Standard:        c++20
UseCRLF:         false
